/* NAVBAR
------------------------------------------------------------------------------------*/

.navbar .navbar-inner {
	padding: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.li-container {
	width: 16.5%;
}
.navbar .nav li {
	display: table-cell;
}
.dropdown-menu li {
	display: block !important;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

/* RESPONSIVE CSS - COLLAPSE NAV BAR
------------------------------------------------------------------------------------*/

@media (max-width: 979px) {
	.li-container,
	.navbar .nav ul,
	.navbar .nav li {
    	width:auto;
		text-align: left;
	}
	.navbar .nav li {
		display: block;
	}
	.navbar .nav li a,
	li {
		border-left: 0;
		border-right: 0;
	}
	li:first-child {
		border-top: 0;
		border-right: 1px solid rgba(0,0,0,.1);
	}
	li {
		border-top: 1px solid rgba(255,255,255,.75);
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	li:last-child {
		border-top: 1px solid rgba(255,255,255,.75);
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	.dropdown-menu li {
    	width:100%;
		border: 0;
		padding:0;
	}
}


/* RESPONSIVE CSS
------------------------------------------------------------------------------------*/

@media (max-width: 979px) {
	.container.navbar-wrapper {
		margin-bottom: 0;
        width: auto;
	}
	.navbar-inner {
        border-radius: 0;
        margin: -20px 0;
	}
}
@media (max-width: 767px) {
	.navbar-inner {
		margin: -20px;
	}
}

/* RESPONSIVE CSS - FONT
------------------------------------------------------------------------------------*/

.nav-font{font-size: 14px !important;}
.nav-font{font-size: 14px !important;}

@media (max-width: 1200px) {.nav-font{font-size: 13px !important;} .nav-font{font-size: 13px !important;}}
@media (max-width: 979px) {.nav-font{font-size: 14px !important;} .nav-font{font-size: 14px !important;}}