.nest_device_container{
    width: 175px;
    margin: 25px auto;
}


.obj_thermostat {
    display: inline-block;
    position: relative;
    height: 175px;
    width: 175px;
    vertical-align: middle;
    text-align: center;
}
.obj_thermostat_heating {
    background-color: #eb6d00;
}
.obj_thermostat_cooling {
    background-color: blue;
}
.obj_thermostat_off {
    background-color: #454657;
}
.obj_thermostat_offline {
    background-color: #B8B8BE;
}


.therm_temp_label {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);%;
    color: white;
}


.therm_temp_cmds {
    margin: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1200;
}


.therm_temp_glyph {
    display: inline-block;
    font-size: 20px;
    margin: 0px 1px;
    cursor: pointer;
    color: white;
}


.nest_device_border{
    display: block;
    position: relative;
    height: 176px;
    width: 176px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: #9FA5AB solid 5px;
    z-index: 1100;
}
/*.nest_device_border_heating {
    border: #f6b745 solid 5px;
}
.nest_device_border_cooling {
    border: #000000 solid 5px;
}
.nest_device_border_off {
    border: #9FA5AB solid 5px;
}
.nest_device_border_offline {
    border: #000000 solid 5px;
}*/


.nest-box-shadow {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
}