.nest_device_container{
    width: 150px;
    margin: 25px auto;
}


.obj_thermostat {
    display: inline-block;
    position: relative;
    height: 150px;
    width: 150px;
    vertical-align: middle;
    text-align: center;
}
.obj_thermostat_heating {
    background-color: #eb6d00;
}
.obj_thermostat_cooling {
    background-color: blue;
}
.obj_thermostat_off {
    background-color: #454657;
}


.therm_temp_label {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);%;
    color: white;
}


.therm_temp_cmds {
    margin: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.therm_temp_glyph {
    display: inline-block;
    font-size: 20px;
    margin: 0px 1px;
    cursor: pointer;
    color: white;
}

.nest-box-shadow {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(50, 50, 50, 0.7);
}